<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<h4>Dear <span style = "text-transform:capitalize;">{{name}}</span>,</h4>

		<p>{{message|safe|linebreaksbr}}</p>
        <p>Kind Regards</P>
        <p>Fitlife platform</P>

        <p>----------------------------------------------------------------------------------------------------------------</P>

		<p><i>Disclaimer: This content is for informational purposes only and is not a substitute for medical advice. Always consult with a professional before starting new fitness routines.</i></small></p>
</body>
</html>